@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e66465;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, var(--primary-color), #9198e5);
  position: relative;
}

body .openButton {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  transition: 0.5s;
}

body .openButton:hover {
  background-color: var(--primary-color);
}

/* blur screen when modal poping up  */
.popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.238);
  z-index: 100;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  background-color: white;
  width: 400px;
  height: 200px;
  z-index: 1000;
  /* appear animation */
  animation: modalShow 0.2s linear;
}

@keyframes modalShow {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

.popup-header {
  background-color: var(--primary-color);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

i {
  color: white;
  font-size: 2rem;
  transition: 0.5s;
  padding: 2px;
}

i:hover {
  background-color: #c75656;
}

.popup-body {
  background-color: white;
  padding: 10px 10px;
  position: relative;
}

.popup-body h3 {
  color: var(--primary-color);
}

.popup-body .closeButton {
  position: absolute;
  top: 140%;
  left: 82%;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--primary-color);
  transition: 0.5s;
}

.popup-body .closeButton:hover {
  background-color: var(--primary-color);
  color: white;
}
